@page
@model IndexModel
@{
    ViewData["Title"] = "project";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
    <div class="header">
        <img src="\images\logo.png" alt="Image" />
    <h1 class="display-4">Help The Poor</h1>
</div>
<div class="topnav">
        <a asp-page="/Home">Home</a>
        <a asp-page="/News">News</a>
        <a asp-page="/Contact">Contact</a>
        <a asp-page="/About">About</a>
</div>
<div>
        <p class="pa" >
            In August 2022, the worst flooding to hit Pakistan in decades 
            severely impacted about 33 million people, including 11 million children 
            - or 14% of the population.One-third of the country was underwater 
            following more than two months of storms and flooding, described by 
            the government as a “climate catastrophe … of unimaginable proportions”.
            The floods and torrential rains were blamed on worsening weather patterns
            as a result of the climate crisis, with Pakistan ranked as one of the most
            vulnerable countries to climate change. 
        </p>
    
</div>
</div>
    </body>


