@page
@model project.Pages.News
@{
    ViewData["Title"] = "News";
}
<div class="header">
        <img src="\images\logo.png" alt="Image" />
    <h1 class="display-4">Help The Poor</h1>
</div>
<div class="topnav">
        <a asp-page="/Home">Home</a>
        <a asp-page="/News">News</a>
        <a asp-page="/Contact">Contact</a>
        <a asp-page="/About">About</a>
</div>

<div class="n1">
    <h2 class="h11"><marquee>Floods in Northern Syria</marquee></h2>
    <p>Torrential rainfall and flooding damaged camps and villages across earthquake-affected areas northern Syria. More than 4,000 families in northern Syria have been affected by the flooding, which has caused extensive damage, particularly in camps for internally displaced people (IDPs). 

The flooding also cut off roads, restricting efforts to reach communities still in need of humanitarian assistance following the earthquakes that struck the region in February 2023.</p>
</div>
<div class="n1">
    <h2 class="h11"><marquee>
        Flooding in South Sudan
        </marquee>
    </h2>
    <p>
        Widespread flooding at the end of 2022, combined with inter-communal conflict and soaring food prices, has driven South Sudan into its worst hunger crisis since independence in 2011.

More than 615,000 people were impacted by an unprecedented fourth consecutive year of large-scale flooding destroying homes, crops, and leading to a spike in malaria and snakebites, particularly among women and children.
    </p>
</div>
<div class="n1">
    <h2 class="h11"><marquee>
        2022 Eastern Kentucky Floods</marquee>
    </h2>
    <p>
        In July 2022, historic flooding in eastern Kentucky left a wake of destruction in its path.

Save the Children worked with school and community partners across six of the region’s hardest-hit counties to help schools and child care centers recover, and get children and families the essentials they need now and long-term, including social and emotional support to cope with stress and loss following the tragic flooding.
</div>
<div class="n1">
    <h2 class="h11"><marquee>
        2022 Pakistan Floods</marquee>
    </h2>
    <p>
        In August 2022, the worst flooding to hit Pakistan in decades severely impacted about 33 million people, including 11 million children - or 14% of the population.

One-third of the country was underwater following more than two months of storms and flooding, described by the government as a “climate catastrophe … of unimaginable proportions”. The floods and torrential rains were blamed on worsening weather patterns as a result of the climate crisis, with Pakistan ranked as one of the most vulnerable countries to climate change. 
</div>
